/*-- scss:defaults --*/

// Colors
$cream: #FDFBF7;
$dark-pink: #B5728A;
$medium-pink: #AD898C;
$dark-gray: #5A5856;
$light-pink: #CAB8BE;
$light-light-pink: #f5e9ed;

// Base document colors
$navbar-bg: $dark-pink;
$navbar-fg: $light-light-pink; 
$navbar-hl: $light-pink;
$body-bg: $cream;
$body-color: $dark-gray;
$link-color: $medium-pink;

// Inline code
$code-color: $dark-pink; 